<h1>My Dashboard</h1>



<div class="row mb-4 blogs">

 <div class="col-md-6">
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Blog name:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-content">Blog content:</label>
       <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>


 <div class="col-md-6 blog-list">
  {{#each blogs as |blog| }}  
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      <a href="/blog/{{blog.id}}">Read blog &gt; </a>
    </p>
  </div>
  <div class="col-md-4">
    <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
   </div>
{{/each}} 
</div>

<script src="./js/dashboard.js"></script>
</div>
</div>
