<!-- Loop over each object in the projects array -->
<h1>WELCOME HOME</h1>


{{#each blogs as |blog| }}
<div class="row mb-4 blogs">
  <div class="col-md-5 card">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p class="author">Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7 read">
    <p>
      <a href="/blog/{{blog.id}}">Read blog &gt; </a>
    </p>
  </div>
</div>
<hr>
{{/each}} 